@page "/"
@using Bulletin_solde.Data.Models
@using Bulletin_solde.Data.Service
@using Bulletin_solde.Data.Services
@using System.Globalization
@inject Data.ApplicationDbContext DbContext
@inject BulletinServices bServices
@inject StatisticsServices stats
@inject ActivityServices aServices 
@*NO we cannot use another render mode it does not work otherwise*@
@rendermode InteractiveServer
@*Because of the render mode, the popover provider must be put directly on the page*@
<MudPopoverProvider></MudPopoverProvider>

<head>
    <link rel="stylesheet" href="~/app.css"/>
</head>

<div class="dashboard-container">
    <div class="linechart-section">
        <div class="linechart-options">
            <h3>@lineChartTitle</h3>
            <Dropdown TEnum="VisualisationModes" SelectedValue="selectedMode" SelectedValueChanged="OnDropDownChanged"></Dropdown>
        </div>
        <div class="chart-wrapper">
            @if (selectedMode == VisualisationModes.Bulletin)
            {
                <BulletinsLineChart bulletins="@bulletins"></BulletinsLineChart>
            }
            else if (selectedMode == VisualisationModes.Month)
            {
                @foreach (MonthActivity month in monthActivities)
                {
                    <p>month.Month </p>
                }
            }
        </div>
    </div>
    <div class="stats-section">
        <div class="stat-item">Nombre de bulletins : @count</div>
        <div class="stat-item">Moyenne par bulletin : @average€</div>
        <div class="stat-item">Médiane des soldes : @median€</div>
        <div class="stat-item">Minimum : @min€</div>
        <div class="stat-item">Maximum : @max€</div>
        <MudTooltip Text="@stdComment"
                    Arrow="false"
                    Placement="Placement.Right">
            <div class="stat-item">Standard deviation : @std</div>
        </MudTooltip>
        <div class="stat-item">Total : @total€</div>
        <MudTooltip Text="@lastPaymentDate"
                    Arrow="false"
                    Placement="Placement.Right"
                    Color="Color.Secondary">
            <div class="stat-item">Nombre de jours depuis la dernière solde : @daysSinceLastPayment jours</div>
        </MudTooltip>
        <MudTooltip Text="@serviceTimeMonths"
                    Arrow="false"
                    Placement="Placement.Right">
            <div class="stat-item">Nombre de mois sans bulletin de solde : @missingMonths</div>
        </MudTooltip>
    </div>
</div>
<div class="upload-btn-container">
    <UploadJson OnFilesProcessed="OnFilesLoaded"></UploadJson>
</div>



@code {
    private VisualisationModes selectedMode = VisualisationModes.Bulletin;
    List<Bulletin>? bulletins;
    List<MonthActivity>? monthActivities;
    private string lineChartTitle = "Visualisation de tous les bulletins de solde";

    private double total;
    private double average;
    private double min;
    private double max;
    private double median;
    private double count;
    private double std; // Standard deviation
    private Tuple<int, int> missingMonthsInfo; 
    private string serviceTimeMonths;
    private string missingMonths; // How many months they did not pay you hahaha
    private Tuple<DateTime, int> lastPaymentInfo;
    private string lastPaymentDate;
    private string daysSinceLastPayment;
    private string stdComment;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            monthActivities = await aServices.GetAllActivityMonths();
            await LoadBulletins(); 
        }
        catch
        {
            ResetStats();
        }
    }

    private void OnDropDownChanged(VisualisationModes newMode)
    {
        selectedMode = newMode;
        if(selectedMode == VisualisationModes.Bulletin)
        {
            lineChartTitle = "Visualisation de tous les bulletins de solde";
        }
        else if(selectedMode == VisualisationModes.Month)
        {
            lineChartTitle = "Visualisation des paiements par mois";
        }
        else if(selectedMode == VisualisationModes.Days)
        {
            lineChartTitle = "Visualisation du nombre de jours de service par mois";
        }
        StateHasChanged();
        Console.WriteLine($"Dropdown changed to {newMode}");
    }

    private async Task LoadBulletins()
    {
        bulletins = await bServices.GetAllBulletins();
        total = await stats.GetTotalIncome();
        average = await stats.GetAverageIncome();
        min = await stats.GetMinStartIncome();
        max = await stats.GetMaxEndIncome();

        count = await stats.GetCountBulletins();
        median = await stats.GetMedianIncome();

        // For the standard deviation part
        std = await stats.GetStandardDeviationIncome();
        stdComment = await stats.CommentSTD();

        // For the last payment part
        lastPaymentInfo = await stats.TimeSinceLastPayment();
        lastPaymentDate = lastPaymentInfo.Item1.ToString("MMMM yyy", new System.Globalization.CultureInfo("fr-FR"));
        daysSinceLastPayment = lastPaymentInfo.Item2.ToString();

        // For the missing months part
        missingMonthsInfo = await stats.GetMissingMonthCount();
        missingMonths = missingMonthsInfo.Item1.ToString();
        serviceTimeMonths = $" sur {missingMonthsInfo.Item2.ToString()} mois de service";

    }
    private void ResetStats()
    {
        total = max = min = average = median = std = 0;
        lastPaymentDate = daysSinceLastPayment = missingMonths = serviceTimeMonths = "-";
    }

    private async Task OnFilesLoaded()
    {
        await LoadBulletins();
        StateHasChanged();
    }
}
